{% extends 'views://layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ resolve('assets://css/chardinjs.css') }}"/>

    {{ parent() }}
{% endblock %}

{% block title %}hoathis/bench-bundle{% endblock %}

{% block logo %}{% endblock %}

{% block content %}
    {% benchstart 'render' %}
    <h1>
        <em lang="en">
            <span class="image">
                <img alt="jubianchi" class="avatar" src="//1.gravatar.com/avatar/f46b6942be65359575174569d8979223?d=https%3A%2F%2Fidenticons.github.com%2Facc4e132777a44d2e28c72540d1c894f.png&r=x&s=440">
                <a href="https://github.com/jubianchi" class="notification">
                    <img alt="Github" src="{{ resolve('assets://Image/Icon_github.svg') }}" width="30px" height="30px">
                </a>
            </span>
        </em>
        <br>⁂<br>
        <a href="https://github.com/hoaproject/Contributions-Symfony-BenchBundle">hoathis/bench-bundle</a>
    </h1>

    <div class="column fleft w50">
        <ul>
            {% for key, name in names %}
                <li>
                    #{{ key }} {{ name }}<br/>
                    <small>{{ addresses[key] }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="column fright w50">
        <p>Grâce à <a href="">Faker</a>, nous avons généré aléatoirement 5 identités :</p>
        <ul>
            <li>Nom de plus de 30 caractères (<em>lignes 25 à 27</em>) et commençant par <code>H</code>, <code>O</code> ou <code>A</code></li>
            <li>Adresse dans le 69 (<em>lignes 35 à 37</em>)</li>
        </ul>
        <p>Nous avons ensuite mesurer le temps grâce aux marqueurs suivants :</p>
        <ul>
            <li><code>names</code> : Temps total pour le génération des noms (<em>lignes 22 et 30</em>)</li>
            <li><code>name #</code> : Temps de génération d'un nom (<em>lignes 23 et 29</em>)</li>
            <li><code>addresses</code> : Temps total pour le génération des adresses (<em>lignes 33 et 39</em>)</li>
            <li><code>render</code> : Temps pour le rendu de la page (Template twig)</li>
        </ul>
        <p>Regardez la bar Symfony en bas de page et cliquez sur <a id="trigger">8 marck(s)</a> pour consulter les résultats.</p>
    </div>

    <br style="clear: both" />

    <pre data-line="22-42"><code class="language-php">{{ code }}</code></pre>

    <p>
        Un <em>helper</em> pour la console est également disponible. Pour l'utiliser dans vos commandes il suffit :
    </p>
    <ul>
        <li>D'mplémenter l'interface <code>Symfony\Bundle\FrameworkBundle\Command\ContainerAwareCommand</code></li>
        <li>D'appeler le service <code>bench.helper</code></li>
        <li>D'afficher le rapport en utilisant la méthode <code>summarize</code> du <em>helper</em></li>
    </ul>
    <p>
        Vous trouverez un exemple d'utilisation basé sur le code précédent dans le fichier
        <a>src/Hoathis/DemoBundle/Command/DemoBenchCommand.php</a>. Voici également
        un exemple de rapport obtenu en lançant la commande <code>hoathis:demo:bench</code> :
    </p>

    <pre data-line="11-22"><code class="language-shell">$ app/console hoathis:demo:bench
+--------------------------------+-----------------------------------------------+
| Name                           | Address                                       |
+--------------------------------+-----------------------------------------------+
| Adélaïde-Joséphine Thibault    | 821, avenue de Fischer 69716 Laroche          |
| Frédérique-Philippine Bailly   | 52, avenue de Berthelot 69409 Bailly          |
| Gabrielle-Frédérique Olivier   | 7, rue Lombard 69408 Riou-la-Forêt            |
| Jacqueline-Anastasie Boulanger | 86, boulevard Gauthier 69585 Roussel          |
| Françoise Lemonnier-Fernandes  | 4, avenue Alexandrie Lagarde 69611 PagesBourg |
+--------------------------------+-----------------------------------------------+
+-----------+--------------------+-----------------+
| Mark      | Time               | Percent         |
+-----------+--------------------+-----------------+
| names     | 0.18957209587097   | 100             |
| name #1   | 0.038627147674561  | 20.375966988755 |
| addresses | 0.10523080825806   | 55.509650708129 |
| name #2   | 0.028034925460815  | 14.788529573412 |
| name #3   | 0.020411014556885  | 10.766887638768 |
| name #4   | 0.030527114868164  | 16.103168943673 |
| name #5   | 0.064174890518188  | 33.852498292717 |
| render    | 0.0028121471405029 | 1.4834182887427 |
+-----------+--------------------+-----------------+
    </code></pre>
    {% benchstop %}

    <script src="{{ resolve('assets://js/jquery.js') }}"></script>
    <script src="{{ resolve('assets://js/chardin.js') }}"></script>
    <script>
        var initToolbar = false,
            $toolbar, $bench;

        $(document).bind('DOMNodeInserted', function(event) {
            if($(event.target).is('.sf-toolbarreset') && false === initToolbar) {
                initToolbar = true;

                $bench = $(".sf-toolbar-block:last");
                $toolbar = $('.sf-toolbarreset');

                $('#trigger').click(
                    function() {
                        if(!$bench.attr('data-intro')) {
                            $bench.attr({
                                "data-intro": "Cliquez ici pour obtenir plus de détails",
                                "data-position": "top"
                            });
                        }

                        $('body').chardinJs('toggle');
                    }
                );
            }

            if($(event.target).is('.chardinjs-helper-layer.chardinjs-top')) {
                $('.chardinjs-helper-layer.chardinjs-top').css({
                    top: $toolbar.offset().top,
                    left: $bench.position().left
                });
            }
        });

        $(document).scroll(function() {
            $('body').chardinJs('stop');
        });
    </script>
{% endblock %}
