{% extends 'HoathisDemoBundle::layout.html.twig' %}

{% block content %}
    <div class="column fleft w50">
        <h2 id="BenchBundle">
            <a href="{{ path('_bench') }}">HoathisBenchBundle</a>
        </h2>

        <p>Analyse de performance</p>
        <ul>
            <li>Service <code>bench</code> pour le code PHP</li>
            <li>Helper <strong>Twig</strong> pour les templates</li>
            <li>Helper <code>bench</code> pour la console</li>
            <li>
                Code source :
                <a href="https://github.com/jubianchi/HoathisBenchBundle">
                    <img src="{{ asset('bundles/hoathisdemo/Image/Logo/Github.png') }}" alt="Github" style="height: 1.8em">
                    jubianchi/HoathisBenchBundle
                </a>
            </li>
        </ul>
    </div>

    <div class="column fright w50">
        <h2 id="ConsoleBundle">
            <a href="{{ path('_console') }}">HoathisConsoleBundle</a>
        </h2>

        <p>Interface en ligne de commande</p>
        <ul>
            <li>Support avancé de <strong>readline</strong></li>
            <li>Support de <strong>tput</strong> et des <strong>terminfos</strong></li>
            <li>Interface <strong>bas niveau</strong> (window, cursor, ...)</li>
            <li>Interface <strong>haut niveau</strong> (helpers, formatter, ...)</li>
            <li>
                Code source :
                <a href="https://github.com/jubianchi/HoathisConsoleBundle">
                    <img src="{{ asset('bundles/hoathisdemo/Image/Logo/Github.png') }}" alt="Github" style="height: 1.8em">
                    jubianchi/HoathisConsoleBundle
                </a>
            </li>
        </ul>
    </div>

    <br style="clear: both" />

    <div class="column fleft w50">
        <h2 id="WebSocketBundle">
            <a href="{{ path('_websocket') }}">Hoa-WebSocket-Bundle</a>
        </h2>

        <p>Client/Serveur WebSocket</p>
        <ul>
            <li><strong>Client</strong> WebSocket</li>
            <li><strong>Serveur</strong> WebSocket</li>
            <li>Architecture très <strong>modulaire</strong></li>
            <li>
                Code source :
                <a href="https://github.com/Atipik/Hoa-WebSocket-Bundle">
                    <img src="{{ asset('bundles/hoathisdemo/Image/Logo/Github.png') }}" alt="Github" style="height: 1.8em">
                    Atipik/Hoa-WebSocket-Bundle
                </a>
            </li>
        </ul>
    </div>

    <br style="clear: both" />
{% endblock %}
